.inventory_item_container {
    width: calc(95vw / 5);
    height: calc(95vw / 5);
    background-color: aliceblue;
    background: rgb(49, 46, 35);
    background: linear-gradient(0deg, rgba(49, 46, 35, 1) 5%, rgba(1, 1, 0, 1) 150%);
    /* border: 2px solid #3a3a3a; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px groove #3a3a3a;
    /* border: 5px groove #ffee00b7; */

}

.inventory_item {
    display: flex;
    padding: 2px;
    width: 96%;
    height: 96%;
    background-size: cover;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 4;
}