.droptext_container {
    position: absolute;
    bottom: 40px;
    display: flex;
    animation: .9s ease-out textAnimated infinite;

}

.droptext_img {
    width: 26px;
    height: 26px;
    background-size: cover;
    margin-right: 10px;
}

@keyframes textAnimated {
    0% {
        bottom: 40px;
    }
    60% {
        opacity: 1;
    }

    100% {
        bottom: 80px;
        opacity: 0;
    }
}