.botpanel_container {
    width: 100%;
    height: 20vh;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;

    /* border: 2px solid rgb(249, 0, 0); */
}

.botpanel-btn_container {
    width: 100%;
    height: 5vh;
    background-color: rgb(85, 85, 85);
    border: 2px solid rgb(205, 205, 205);
}

.charinfo_container {
    width: 80vw;
    height: 10vh;
    /* background-color: rgb(85, 85, 85);
    border: 2px solid rgb(205, 205, 205); */
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 2px 1px 2px #000;
    /* justify-content: space-between; */

}

.charhp_container {
    position: relative;
    width: 100%;
    height: 40%;
    background-color: brown;
    background: linear-gradient(0deg, rgb(37, 0, 0) 33%, rgb(89, 0, 0) 90%);
    border: 5px groove #3a3a3a;
    border: 1px solid transparent;
    border-image: url('../../img/ui/frame.png') 100 / 20 round round; 

}

.charhp {
    height: 100%;
    background: linear-gradient(0deg, rgb(89, 0, 0) 33%, rgb(159, 0, 0) 90%);
    transition: .5s ease-in;
}

.charhp_text {
    position: absolute;
    left: 0;
    right: 0;
}

.charmp_container {
    width: 100%;
    height: 40%;
    background-color: rgb(52, 42, 165);
    background: linear-gradient(0deg, rgb(19, 0, 89) 0%, rgb(29, 1, 184) 50%);
    border: 5px groove #3a3a3a;
    border: 1px solid transparent;
    border-image: url('../../img/ui/frame.png') 100 / 30 round round; 

}


.charlvl_container {
    width: 100%;
    height: 20%;
    background-color: rgb(28, 28, 28);
    border: 5px groove #3a3a3a;

    /* border-radius: 5px; */
}

.charlvl {
    background: linear-gradient(0deg, rgb(24, 24, 21) -100%, rgb(105, 73, 5) 100%);
    height: 100%;
}

.charlvl_text {
    position: relative;
    left: 0;
    right: 0;
    bottom: 20px;
}

.charskill_container {
    width: 20vw;
    height: 10vh;
    background: rgb(49,46,35);
    background: linear-gradient(0deg, rgba(49,46,35,1) 5%, rgba(1,1,0,1) 150%);
    border: 5px groove #3a3a3a;
    border-radius: 5px;

}