.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-top: 200px; */
}



.mob__attack-state {
  animation: mob_state_attack 1s infinite;
  filter: drop-shadow(1px 1px 0 rgb(254, 0, 0)) drop-shadow(-1px 1px 0 rgb(254, 0, 0)) drop-shadow(1px -1px 0 rgb(254, 0, 0)) drop-shadow(-1px -1px 0 rgb(254, 0, 0));
}

.mob__attack {
  width: 192px;
  height: 192px;
  position: relative;
  top: 50px;
  /* background-color: #474747; */
  background-image: url('./img/animation/attack.png');
  animation: attack_animation .6s steps(6) infinite;
}

/* @keyframes succes_animation {
  100% {
    background-position: -2398px;
  }
} */
@keyframes attack_animation {
  100% {
    background-position: -1152px;
  }
}

@keyframes mob_state_attack {
  0% {
    background-size: 200%;
  }

  100% {
    background-size: 198%;
  }
}