* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 2px 0 2px #000,
    0 2px 2px #000,
    -2px 0 2px #000,
    0 -2px 2px #000;
  user-select: none;
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-top: 200px; */
}

.mobBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob {
  width: 200px;
  height: 400px;
  background-image: url("img/149.png");
  background-position: center;
  background-size: 200%;
  /* border: 2px solid red; */
  margin-top: -40px;

}

.mobHpBar-container {
  width: 100px;
  height: 10px;
  /* display: flex; */
  /* flex-direction: column; */
  border: 3px groove rgb(0, 0, 0);
  background-color: #471010;
  margin-top: 40px;
}

.mobHpBar-text {
  position: relative;
  left: 0;
  right: 0;
  bottom: 20px;
  align-items: center;
  color: white;
}

.mobHpBar {
  width: 100px;
  height: 100%;

  background-color: #b80404;
  transition: .3s ease-in-out;
}

.btnAttack {
  background-color: aqua;
  width: 50px;
  height: 50px;
}

.location {
  /* display: block; */
  position: relative;
  background-image: url("./img/location/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 0;
}

.mob__attack-state {
  animation: mob_state_attack 1s infinite;
  filter: drop-shadow(1px 1px 0 rgb(254, 0, 0)) drop-shadow(-1px 1px 0 rgb(254, 0, 0)) drop-shadow(1px -1px 0 rgb(254, 0, 0)) drop-shadow(-1px -1px 0 rgb(254, 0, 0));
}

.mob__attack {
  width: 192px;
  height: 192px;
  position: relative;
  top: 50px;
  /* background-color: #474747; */
  background-image: url('./img/animation/attack.png');
  animation: attack_animation 1s steps(6) infinite;
}

.inventory_open_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: rgb(49,46,35);
  background: linear-gradient(0deg, rgba(49,46,35,1) 5%, rgba(1,1,0,1) 150%);
  border-radius: 10%;
  border: 1px solid transparent;
  border-image: url('./img/ui/frame.png') 70 / 15 round round; 
}



/* @keyframes succes_animation {
  100% {
    background-position: -2398px;
  }
} */
@keyframes attack_animation {
  100% {
    background-position: -1152px;
  }
}

@keyframes mob_state_attack {
  0% {
    background-size: 200%;
  }

  100% {
    background-size: 198%;
  }
}